html
  include partials/head

  body
    h1 Kim's Convenience

    h2 Developed By

    ul
      for developer in showdata.developedBy
        li= developer

    h2 Starring
    ul
      for stars in showdata.starring
        li= stars

    h2 Seasons
    ul
      for season in showdata.seasons
        li
           a(href=`/season/${season.number}`) Season #{season.number}